<h1>Table of all people</h1>

<table class="table-sortable">

  <thead>
    <tr>
      <th>NAME</th>
      <th>Date Of Birth</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.dob %></td>
    </tr>
    <% end %>
  </tbody>

</table>


<%= javascript_pack_tag 'tablesort' %>