<h1>Java Script form validation</h1>


<label>Field 1</label>
<input type="text" placeholder='2 × 4'>
<br>
<label>Field 2</label>
<input type="text" placeholder='20 × 10'>
<br>
<label>Field 3</label>
<input type="text" placeholder='6 × 10'>


<%= javascript_pack_tag 'input_validation' %>